@tailwind base;

:root {
  --color-primary: #ececec;
  --color-secondary: #222831;
  --color-secondary-soft: #30475e;
  --color-accent: #c1a57b;
}

/* Buttons, links */
a,
button {
  cursor: pointer;
  transition: all 0.15s ease;
  outline: none;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

a:hover,
button:hover {
  @apply shadow-lg;
  opacity: 0.75;
}

.btn-primary {
  @apply bg-accent border-2 border-accent uppercase text-white font-bold shadow text-xs px-4 py-2 rounded outline-none mb-1;
}

.btn-secondary {
  @apply bg-transparent border-2 border-primary uppercase text-primary font-bold shadow text-xs px-4 py-2 rounded outline-none mb-1;
}

/* Textboxes */
input[type='text'],
textarea {
  @apply px-3 py-2 text-gray-700 relative bg-primary rounded text-base border border-gray-400 outline-none;
}

::placeholder {
  @apply text-gray-400;
}

/* File picker */
.file-hidden {
  @apply w-px h-px opacity-0 overflow-hidden absolute;
  z-index: -1;
}

html {
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(
    var(--color-secondary-soft),
    var(--color-secondary)
  );
}

@tailwind components;
@tailwind utilities;
