@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ececec;
  --color-secondary: #222831;
  --color-secondary-soft: #30475e;
  --color-accent: #c1a57b;
}

a,
button {
  cursor: pointer;
  transition: all 0.15s ease;
}

a:hover,
button:hover {
  opacity: 0.75;
}

html {
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(var(--color-secondary-soft), black);
}
